# geth blockchain data
geth/
jwt.hex
history

# aleph node blockchain data
backup-stash/
db/
chainspec.json

# sol compilation
build/
eth/artifacts
eth/build/
eth/cache/
eth/.openzeppelin/

# rust compilation
target/

# env files
.env
.envrc

# logs
*.log

# contracts
code_hashes.json
addresses.json
contract_spec.json
azero/artifacts/*
azero/types/
azero/contracts/drink-tests/resources/*
azero/contracts/drink-tests/src/wrappers/*

# half of the internet
node_modules

# emacs
relayer/src/ markdown-code-fontification:rustic-mode

# idea
/.idea/

# most-signer docker image artifacts
relayer/signer_docker/signer
